@charset "utf-8";
/* CSS Document */
*, a, p, span, b, i, h1, h2, h3, h4, h5, h6, strong, em, .display-1, .display-2, .display-4, .display-5, .display-7, .text-black, .link, .nav-link, .overlay { font-family: 'League Gothic', sans-serif; }
a, .link, .organge { color: #858585; }
a:hover, .link:hover, .orange:hover { color: #F7931E; } /* orange */
h1 { font-family: 'League Gothic', sans-serif;}
/* old h1 font was: 'Titillium Web' */
.slider.slider-horizontal {
    width:400px; /* sample value - set it as you like*/
  }
  section { margin-bottom: 35px; }
  #projects { background-color: #888888;}
  #projects ul li a { color: black; }
  #projects ul li a.active { color: #F7931E; }
  .invisible, .d-block.invisible {visibility: hidden !important; display: none;}
  .nav-dropdown .link { font-weight: 1; font-size: 2.4rem; } /* fit it all on the same line, was 2.6 */
  ul.navbar-nav li.nav-item a.link { padding: 0 !important; }
#project-types { margin-top: 8px; }
/* #project-types { font-size: 3rem; } */
/* #project-types, #projects ul li { margin-left: 26px; } */
#project-types, #projects ul li { margin-left: 0px; }
#projects ul li a { font-family: 'Titillium Web', sans-serif;}
/* #projects ul li a { font-size: 1.5rem; } */
#project-types, #projects ul li a { padding-left: 2px;}
#projects ul li a { line-height: 2; font-size: 0.8em;}
#logo { width: 70%; padding-left: 0px; }
#about-anchor, #projects-anchor, #contact-anchor { position: relative; top: -126px; }
#projects-nav { background-color: #888888; }
a.project-type-link, #projects-body, #projects-body * { font-family: 'Titillium Web'; }
.h1 { font-family: 'League Gothic', sans-serif; }
a.project-type-link { color: black; font-weight: 900; line-height: 40px; font-size: 0.8em;}
a.project-type-link.active { color: #F7931E; }
#projects-nav .row .col { text-align: center; padding-left: 1px; padding-right: 1px;}
.text-align-left { text-align: left; }
#projects-nav { margin-bottom: 20px; padding-bottom: 25x; }
 
#projects-body .row .col { padding: 0px; }
#projects-body .row { margin-bottom: 20px; }
#projects-body .row .col, .overlay-link img { max-width: 400px; min-width: 110px; }
/*
#projects-body .row .col:nth-child(3) { position: relative; }
#projects-body .row .col:nth-child(3) .overlay-link { position: absolute; right: 0px; }
*/
#projects-body .row .col { position: relative; }
.overlay { 
  z-index: 2; background-color: rgba(255,255,255,0.6); display: inline-block; position: absolute; top: 0px; left: 0px;
   line-height:100%; text-align: center; vertical-align: middle; color: black;
   display: flex; align-items: center; justify-content: center;
}
/*
#projects-body .row .col a img { border-left: 10px solid white; border-right:  10px solid white; } 
*/
#projects-body .row .col a img { padding-right: 20px; padding-left: 10x;}
.overlay { display: none;}
#copyright { font-weight: 100; font-style: italic; font-size: 0.8rem; }
.cid-tsKMe6Nerx .carousel-indicators { bottom: 100px; } /* remove large whitespace between circles and carousel image */
.cid-tsKMe6Nerx .carousel img { object-fit: scale-down;}
.cid-tqtQMUFgap .nav-dropdown .link { margin: 26px !important;}
html, body { min-width: 280px; overflow-x: scroll; }
.cid-tsKMe6Nerx { background-color: white;}
#logo {min-width: 200px;}
.cid-tsKMe6Nerx .carousel { height:auto;}
#blurb { font-family: 'Titillium Web', sans-serif;}